# Ignore everything
*

# Except these files
!.gitignore
!bog.meta.tree
!demo/
!demo/**/
!demo/**/*.tree
!demo/**/*.ts
!demo/**/*.css
!demo/**/*.html
!demo/**/*.svg
!demo/**/*.json
!demo/**/*.md
# Re-ignore build output inside demo
demo/**/-/
demo/**/-view.tree/
demo/**/-node/
demo/**/-css/
!.gitattributes
!README.md
!LICENSE

# Allow ui source code
!ui/
!ui/**/
!ui/**/*.tree
!ui/**/*.ts
!ui/**/*.css
!ui/**/*.html
!ui/**/*.svg
!ui/**/*.json
!ui/**/*.md

# Ignore MAM build output everywhere
**/-/
**/-view.tree/
**/-node/
**/-css/

# Allow GitHub Actions
!.github/
!.github/**/
!.github/**/*.yml

# Allow version component
!version/

# Allow qr source code
!qr/
!qr/**/
!qr/**/*.tree
!qr/**/*.ts
!qr/**/*.css
!qr/**/*.html
!qr/**/*.svg
!qr/**/*.json
!qr/**/*.md
# Re-ignore build output inside qr
qr/**/-/
qr/**/-view.tree/
qr/**/-node/
qr/**/-css/

# Allow feedback source code
!feedback/
!feedback/**/
!feedback/**/*.tree
!feedback/**/*.ts
!feedback/**/*.baza
!feedback/**/*.css
!feedback/**/*.html
!feedback/**/*.svg
!feedback/**/*.json
!feedback/**/*.md
# Re-ignore build output inside feedback
feedback/**/-/
feedback/**/-view.tree/
feedback/**/-node/
feedback/**/-css/

# Allow WikiLive source code
!wikilive/
!wikilive/**/
!wikilive/**/*.tree
!wikilive/**/*.ts
!wikilive/**/*.css
!wikilive/**/*.html
!wikilive/**/*.svg
!wikilive/**/*.json
!wikilive/**/*.md
# Re-ignore build output inside wikilive
wikilive/**/-/
wikilive/**/-view.tree/
wikilive/**/-node/
wikilive/**/-css/
