# Ignore everything
*

# Except these files
!.gitignore
!bog.meta.tree
!.gitattributes
!README.md
!LICENSE

# Allow ui source code
!ui/
!ui/**/
!ui/**/*.tree
!ui/**/*.ts
!ui/**/*.css
!ui/**/*.html
!ui/**/*.json
!ui/**/*.md

# Ignore MAM build output everywhere
**/-/
**/-view.tree/
**/-node/
**/-css/

# Allow GitHub Actions
!.github/
!.github/**/
!.github/**/*.yml

# Allow version component
!version/
!version/**/*.tree
!version/**/*.ts
